### IntelliJ IDEA ###
.idea/
*.xml/
out/
!**/src/main/**/out/
!**/src/test/**/out/
src/.gitignore
dzProgramming1.iml


### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/
dzProgramming1.iml

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
dzProgramming1.iml

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

